* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(245, 213, 245);
}

 .sec-2 {
    width: 100vw;
    height: 20vh;
    margin-top: 4em;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
 }
.sec-1{
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    background-color: transparent;
    margin-top: 6em;
 }

 .child1{
  width: 120px;
  height: 120px;
   background-color: gray;
     box-shadow: -6px 5px 1px 29px white;
 } 
  .child1-1 {
    background-color: purple;
    width: 120px;
    height: 120px;
   transition: all linear 0.3s;
 }
 section .child1-1:hover {
  transform: rotate(60deg); 
 }
 .child2 {
    width: 120px;
    height: 120px;
     background-color: gray;
       box-shadow: -6px 5px 1px 29px white;
 }
.child2-2 {
    background-color: purple;
    width: 120px;
    height: 120px;
   transition: all linear 0.3s;
}
 /* section .child2-2:hover {

 } */